.scroll-float {
  overflow: visible; /* Biarkan karakter memantul bebas */
  display: flex;
  justify-content: center;
  width: 100%;
}

.scroll-float-text {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  white-space: normal;
}

.char {
  display: inline-block;
  will-change: transform, opacity;
}
